
*{
    margin: 0;
    padding: 0;
    color: black;
    text-align: center;
}
body {
    text-align: center;
    padding: 2%;
    font-family: Courier, monospace;
    background: white;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
}

#count-box {
    display: block;
}

footer {
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background: white;
    color: black;
    font-size:2.5em;

}
#other-box {
    font-size: 2.5em;
}
#movie {
    width: 86%;
    display: inline-block;
    margin-top: 15px;
    border-radius: 10px;
}
.circle-link{
    font-size: 1.5em;
    margin: 5px;
}
.circle-link a {
    display: inline-block;
    margin-top: 15px;
}